/* Add CSS Styling */
p{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#deux{
    color: blue;
    font-size: 36px;
}
#trois{
    font-size: 24px;
}
#quatre{
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}