/* Add CSS Styling */
.boutton1{
    background-color: black;
    color: white;
}
.boutton2{
    background-color: yellow;
}
.boutton1 .boutton2{
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}